.button {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 16px;
  margin-bottom: 6px;
  margin-top: 6px;
  font-weight: bold;
  &--primary {
    background-color: lightblue;
  }
  &--warning {
    background-color: orange;
  }
  &--success {
    background-color: lightgreen;
  }
  &--danger {
    background-color: lightcoral;
  }
}
